// FONTS
$font-main: 'Nunito Sans', sans-serif;
$font-code: 'Source Code Pro', monospace;
$font-pseudo: 'DM Mono', monospace;
$font-brand: 'Core Sans C', sans-serif;


// COLOURS
$clr-bg: #222e3f;
$clr-nav: #1e2835;
$clr-paper: #19212b;
$clr-grey: #cadce7;
$clr-hover: #e95e0c;
$clr-accent-1: #c678dd;
$clr-accent-2: #e06c75;
$clr-accent-3: #4d9ca7;
$clr-accent-4: #87ad6e;
$clr-accent-5: #c99463;
$clr-accent-6: #e95e0c;
$clr-orange-1: #e95e0c;
$clr-orange-2: #e96417;
$clr-orange-3: #ea742f;


// COLOURS (mschomepage-v3)
$ice: #4ec3de;
$turquoise: #11b4da;
$blue: #1172b9;
$purple: #6811b9;
$pink: #b91192;
$red: #da2110;
$orange: #ea5f0a;
$yellow: #d9bc0a;
$green: #4fb911;

$glacier: #dbe6f7;
$light: #6a7881;
$grey: #464c50;
$meh: #31435d;
$palenight: #222e3f;
$dark: #1C1B29;


// MISC
$nav-width: 100px;
$delay: 1.5s;